<!-- <mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutGap="16px">
    
    <span>OneCause National</span>
    <span fxFlex="1 1 "></span>
   
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened class="sidebar docs-component-viewer-nav-content"
    ><mat-nav-list>
      <p mat-subheader>Components</p>
      <a mat-list-item class="button"
      routerLink="/list"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
     List
   </a>
   <a mat-list-item class="button"
      routerLink="/button"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
     Button
   </a>
   <a mat-list-item class="button"
      routerLink="/checkbox"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
     Checkbox
   </a>
   <mat-divider></mat-divider>
   <p mat-subheader>Templates</p>
   <a mat-list-item class="button"
      routerLink="/template-list"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
     Template List
   </a>
   <a mat-list-item class="button"
      routerLink="/template"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
     Template
   </a>
   <mat-divider></mat-divider>
   <p mat-subheader>Locations</p>
   <a mat-list-item class="button"
      routerLink="/locations-drag"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
     Locations Drag
   </a>
   <a mat-list-item class="button"
   routerLink="/locations-checklist"
   routerLinkActive="activebutton"
   ariaCurrentWhenActive="page">
  Locations Checklist
</a>
    </mat-nav-list></mat-drawer
  >
  <mat-drawer-content class="container"><router-outlet ></router-outlet></mat-drawer-content>
</mat-drawer-container> -->

<header>My header</header>
<router-outlet></router-outlet>
<footer>My footer</footer>