
<div fxLayout="row" gap="16px">

    <mat-selection-list fxFlex="100%">
        <h2>Locations</h2>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
        <mat-list-option> Location 1 </mat-list-option>
      </mat-selection-list>
      <div class="example-container" fxFlex="100%">
        <h2>Regions</h2>
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> North Region </mat-panel-title>
              <mat-panel-description> 0 Locations </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Hello</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> South Region </mat-panel-title>
              <mat-panel-description> 0 Locations </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Hello</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> West Region </mat-panel-title>
              <mat-panel-description> 0 Locations </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Hello</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> East Region </mat-panel-title>
              <mat-panel-description> 0 Locations </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Hello</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
</div>