<mat-toolbar color="primary">

    <span>Button</span>
    <span fxFlex="100%"></span>
    <a target="_blank" href="https://material.angular.io/components/list/api" mat-button
    >API Docs <mat-icon class="left">open_in_new</mat-icon></a
  >
  </mat-toolbar>
<div class="container" fxLayout="row" fxLayoutGap="24px">
<div fxLayout="column" fxLayoutGap="24px">
  <button mat-button color="primary"><mat-icon class="right">favorite</mat-icon>Basic</button>
  <button mat-stroked-button color="primary"><mat-icon class="right">favorite</mat-icon>Basic</button>
  <button mat-raised-button color="primary"><mat-icon class="right">favorite</mat-icon>Raised</button>
</div>
<div fxLayout="column" fxLayoutGap="24px">
    <button mat-button color="primary">Basic<mat-icon class="left">favorite</mat-icon></button>
    <button mat-stroked-button color="primary">Basic<mat-icon class="left">favorite</mat-icon></button>
    <button mat-raised-button color="primary">Raised<mat-icon class="left">favorite</mat-icon></button>
  </div>
<div fxLayout="column" fxLayoutGap="24px">
  <button mat-button color="primary">Basic</button>
  <button mat-stroked-button color="primary">Basic</button>
  <button mat-raised-button color="primary">Raised</button>
</div>
</div>